<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
      
<header>
        <img src="../assets/BookstoreAdminLogo.png" alt="logo">
      <ul>
        <li><a>Users</a></li>
        <li><a>Categories</a></li>
        <li><a>Books</a></li>
        <li><a>Customers</a></li>
        <li><a>Reviews</a></li>
        <li><a>Orders</a></li>
      </ul>
      </header>
      <div>
        <div>
          <button type="button" (click)="toggleAddCustomer()" class="btn btn-secondary">Add Customer</button>
          <button type="button" (click)="toggleManageCustomer()" class="btn btn-secondary">Manage Customer</button>
        </div>
        <div id="add admin" *ngIf="checkAddCustomer">
          Add
        </div>
        <div id="manage admin" *ngIf="checkManageCustomer">
         manage customer
        </div>
      </div>
    
      <div class="container">
        <div class="alert alert-danger" *ngIf="exceptionResponse!=null">
            <strong>{{exceptionResponse.reason}}</strong>
        </div>
        <img *ngIf="queryResponse==null" src="../../assets/no-data-found.png" alt="No Customers Found!" height="460" width="460">
        <table class="table table-hover table-bordered" *ngIf="queryResponse!=null">
            <thead class="thead-dark">
                <tr>
                  <th>CustomerId</th>
                  <th>Email Address</th>
                  <th>Full Name</th>
                  <th>Phone Number</th>
                  <th>Register Date</th>
                  <th>Zip Code</th>
                  <th>Country</th>
                  <th>Update</th>
                  <th>Delete</th>
                </tr>
            </thead>
    
            <tbody>
                <tr *ngFor="let customer of queryResponse?.list">
                    <td>{{customer.customerId}}</td>
                    <td>{{customer.emailAddress|truncate}}</td>
                    <td>{{customer.fullName}}</td>
                    <td>{{customer.phoneNumber}}</td>
                    <td>{{customer.registerDate}}</td>
                    <td>{{customer.zipCode}}</td>
                    <td>{{customer.country}}</td>
                    <td><button type="button" class="btn btn-primary" (click)="updateCustomer(customer)">Update</button></td>
                    <td><button type="button" class="btn btn-danger" (click)="deleteCustomer(customer)">Delete</button></td>
                </tr>
                <tr>
                    <td colspan="9">
                        <ul class="pagination pagination-sm justify-content-center">
                            <li class="page-item" [class.active]="queryResponse?.currentPageNumber==i+1"
                                *ngFor="let item of noOfPages;let i=index">
                                <a class="page-link" (click)="getAllCustomers(i+1)">
                                    {{i+1}}</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
      <footer>
            <p>Copyright (c) 2017 by Evergreen Books Co., Ltd</p>
          </footer>
       
          
</body>
</html>







